.bio {
   text-indent: 20px;
}
h1{
    padding-top: 1%;
}
.nav-link{
    color:rgb(226, 226, 173);
}

.pictureOfme{
    width:400px;
    /* padding-top:20%; */
    border-radius: 75%;
}


body{
    background-color: #fffdd0e5;
}