.bio {
    padding-top: 30%;
}
h1{
    padding-top: 1%;
}
.nav-link{
    color:beige;
}

.pictureOfme{
    width:400px;
    padding-top:20%;
    border-radius: 75%;
}


body{
    background-color: #fffdd0e5;
}